%table.table.table-responsive.table-hover
  %tr
    %th First Name
    %th Last Name
    %th Prefix
    %th Suffix
    %th Title
  %tr
    %td= @data.first_name
    %td= @data.last_name
    %td= @data.prefix
    %td= @data.suffix
    %td= @data.title
